* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #333;
}

.app {
	font-family: "Open Sans", Verdana, sans-serif;
	padding: 20px 20px 0;
	max-width: 960px;
	margin: 50px auto 0;
	font-size: 18px;
	border: 2px solid #333;
	color: #333;
	transition: all 0.55s;
	text-align: center;
}

.dark {
	background-color: #131516;
	color: #eff8f3;
}
.dark a {
	color: #00ff80;
}

.light {
	color: #0f2417;
	background: #fff;
}

h1 {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

a {
	display: inline-block;
	margin-top: 8px;
}

.thanos {
	position: relative;
	top: -20px;
}

.logo {
	height: 40vmin;
	pointer-events: none;
	width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
	.logo {
		animation: logo-spin infinite 20s linear;
	}
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
